### Dictionaries and Tables : the q Fundimentals
- We will refer to 0h lists as vectors
- Dictionaries are simple map of two lists
- Tables are where our data will reside
- q supports its own query languge qSql with insert, upsert, update, select, and delete
- type of dictionary is 99h and type for table is 98h

In [1]:
// dictionary
myDict:`a`b`c!1 2 3;
myDict

a| 1
b| 2
c| 3

In [2]:
/ when indexing use the key insted of the int index number
myDict[`b]

2

In [3]:
key myDict

`a`b`c

In [4]:
value myDict

1 2 3

In [5]:
// key and value can be anything
d1:"abc"!97 98 99;
d1

a| 97
b| 98
c| 99

In [6]:
//common vectors are keyed in symbol
d2:`a`b`c!("alpha";"beta";"gamma");
d2

a| "alpha"
b| "beta"
c| "gamma"

In [7]:
// simmilar to vector, indexing out of range returns null, and dosn't error
show d1["d"];
show d2[`d];

0N
""

Dictionaries in q is what is known as an algebraic map which is a partial function. The uniqueness of keys is not garunteed.

In [8]:
show thisIsAllowed:`a`b`c`a!0 1 2 3

a| 0
b| 1
c| 2
a| 3

In [9]:
// repeting value of keys cannot be accessed
thisIsAllowed`a

0

### 2.2 Tables

In [10]:
// defining a table
t:([]sym:`a`b`c;time:1000000000*0D00:00 + til 3; price:10 20 30); //time increments in pico seconds 1billionth of a second
t

sym time                 price
------------------------------
a   0D00:00:00.000000000 10
b   0D00:00:01.000000000 20
c   0D00:00:02.000000000 30

In [11]:
cols t

`sym`time`price

In [12]:
keys t

`symbol$()

In [13]:
count t

3

In [14]:
// can insert into table by passing name as refference with a symbol

`t insert ([]sym:enlist `a;time: enlist 0D00:00:03;price:enlist 15)

,3

In [15]:
t

sym time                 price
------------------------------
a   0D00:00:00.000000000 10
b   0D00:00:01.000000000 20
c   0D00:00:02.000000000 30
a   0D00:00:03.000000000 15

q-sql is intuative

In [16]:
select sym,time from t

sym time
------------------------
a   0D00:00:00.000000000
b   0D00:00:01.000000000
c   0D00:00:02.000000000
a   0D00:00:03.000000000

In [17]:
update size:100 200 300 400 from t

sym time                 price size
-----------------------------------
a   0D00:00:00.000000000 10    100
b   0D00:00:01.000000000 20    200
c   0D00:00:02.000000000 30    300
a   0D00:00:03.000000000 15    400

In [18]:
select avg price by sym from t

sym| price
---| -----
a  | 12.5
b  | 20
c  | 30

Note : effect of by clause is the result is keyed and sorted by keys

In [19]:
select from t where sym=`a, price=15

sym time                 price
------------------------------
a   0D00:00:03.000000000 15

Note: Rght to left evaluation doesn't apply to q-sql, Infact, the where cluase is evaluated left to right. To write efficent queries, you should order the where clasue so it reduces the size of the table the most in the first where clause and second most in the second and so on.

In [20]:
// To define a keyed table you should place the primary ket in the block
kt:([sym:`a`b`c]name:`alpha`beta`gamma)
kt

sym| name
---| -----
a  | alpha
b  | beta
c  | gamma

In [21]:
// to delete a column
show ks:([sym:`a`b`c]name:`alpha`beta`gamma;name2:`a`b`c)
delete name2 from ks

sym| name  name2
---| -----------
a  | alpha a
b  | beta  b
c  | gamma c

sym| name
---| -----
a  | alpha
b  | beta
c  | gamma

In [22]:
// to extract vector values from a table use exec
exec name from kt

`alpha`beta`gamma

In [23]:
// if you exec more than one it'll return a dictionary
exec name, name2 from ks

name | alpha beta gamma
name2| a     b    c

In [24]:
// meta shows c = column names, t = datatpes, f = forigne keys, a = attributes
meta ks

c    | t f a
-----| -----
sym  | s
name | s
name2| s

### 2.3 Truth about tables
- Dictionaries and tables are related, the types are 99h and 98h respectively.
- How are they different? Not that much. A dictionary that maps a vercor of symbols to lists is exactly what a table is

In [25]:
d:`sym`time`price!(`a`b`c;0D00:00:00 0D00:00:01 0D00:00:02;10 20 30)
d

sym  | a                    b                    c
time | 0D00:00:00.000000000 0D00:00:01.000000000 0D00:00:02.000000000
price| 10                   20                   30

In [26]:
t

sym time                 price
------------------------------
a   0D00:00:00.000000000 10
b   0D00:00:01.000000000 20
c   0D00:00:02.000000000 30
a   0D00:00:03.000000000 15

In [27]:
// we can use flip to make the dictionary to look like a table
flip d

sym time                 price
------------------------------
a   0D00:00:00.000000000 10
b   0D00:00:01.000000000 20
c   0D00:00:02.000000000 30

In [28]:
delete from `t where price=15

`t

In [29]:
t ~ flip d  // infact its exactly what it is

1b

t and d are the same, all that happens is that t is able to index is more fammiliar vectorized way

In [30]:
t[0 1]

sym time                 price
------------------------------
a   0D00:00:00.000000000 10
b   0D00:00:01.000000000 20

Tables and dictionaries both habe the efficency that comes with mapping names to vectors and storing it in continuous memory

In [31]:
// flipping a table also gives up a dict
d ~ flip t

1b

### 2.4 Keyed tables are dictionaries
- what would happen if we created a map form a table to another?

In [32]:
kt:([]sym:`a`b`c)!([]name:`alpha`beta`gamma)
kt

sym| name
---| -----
a  | alpha
b  | beta
c  | gamma

In [33]:
// this is the same as the keyed table from before
(([]sym:`a`b`c)!([]name:`alpha`beta`gamma)) ~ ([sym:`a`b`c]name:`alpha`beta`gamma)

1b

In [34]:
// its not just simmilar its exactly the same, just check the type
show type d;
type kt

99h

99h

So a keyed table, where the keys index the table, is just a dictionary whos key is a table and can have more than one columns.

### 2.5 From a vector languge to an algebraic languge
- In this section we will see all the concepts like lookup, finding and indexing from chapter 1 applyed to dictionaries and tables.

In [35]:
// indexing 
t[0]

sym  | `a
time | 0D00:00:00.000000000
price| 10

In [36]:
first t

sym  | `a
time | 0D00:00:00.000000000
price| 10

In [37]:
last t

sym  | `c
time | 0D00:00:02.000000000
price| 30

In [38]:
// find also works when using dictinary as element
dInd:`sym`time`price!(`c;D00:00:02.000000000;30)
t?dInd

3

In [39]:
// due to interchangability of index we can do things like
t[0]`sym

`a

In [40]:
// or
`sym`time#t[0]

sym | `a
time| 0D00:00:00.000000000

In [41]:
// for individual col
(enlist `time)#t

time
--------------------
0D00:00:00.000000000
0D00:00:01.000000000
0D00:00:02.000000000

In [42]:
// index out of range will return null like with vectors
`sym`fakecol#t[0]

sym    | a
fakecol|

In [43]:
// extend this to keyed tables
kt

sym| name
---| -----
a  | alpha
b  | beta
c  | gamma

In [44]:
kt[([]sym:`a`c)]

name
-----
alpha
gamma

In [45]:
// find and index out of range zeta
kt?([]name:`alpha`zeta)

sym
---
a

In [46]:
// allows us to create new entries to our table using a super domain
([]sym:`a`b`d)#kt

sym| name
---| -----
a  | alpha
b  | beta
d  |

In [47]:
// lets create a time bucket with the tabel
select avg price by 0D00:00:00.5 xbar time from t

time                | price
--------------------| -----
0D00:00:00.000000000| 10
0D00:00:01.000000000| 20
0D00:00:02.000000000| 30

In [48]:
// lets use the concept of superdomain to create a timeseries table with higer granulrity
timeT:([]time:`timespan$0D00:00:00 + 500000000 * til 5)
timeT

time
--------------------
0D00:00:00.000000000
0D00:00:00.500000000
0D00:00:01.000000000
0D00:00:01.500000000
0D00:00:02.000000000

In [49]:
timeT#select avg price by 0D00:00:00.5 xbar time from t

time                | price
--------------------| -----
0D00:00:00.000000000| 10
0D00:00:00.500000000|
0D00:00:01.000000000| 20
0D00:00:01.500000000|
0D00:00:02.000000000| 30

We have just resampled the time series data in a simple way by understanding q