### Enlist - turn atom (singular values) into list

 - type evaluates list into positive int (number identifying type)
 - It evaluate atom as a negitive int

In [8]:
// Ways to enlsit
show type 2;
show type 1 2 3;
type enlist 2

-7h
7h

7h

In [2]:
type 2,()

7h

Parsing : evaluates from right to left

In [3]:
10*100+1000

11000

### ? - Rand/Find/conditioanl

- command line -S {int} or \S {int} can seem the random number generator
- ?[boolean; value if true; value if false] this is the format for boolean conditional evaluaiton

In [4]:
/10 random selection from 0 to 5
10?5

4 0 2 1 2 1 2 3 2 4

In [5]:
// sample without replacement
-10?50

29 39 35 27 41 9 47 5 6 7

In [6]:
/ find
arr: til 6;
show arr;
arr?3

0 1 2 3 4 5

3

In [11]:
/ if number not found it'll return 1+count of list
arr?7

6

In [17]:
// Conditional expression
inp1:1 2 3 4 5;
inp2:10 20 30 40 50;
bool:01010b;
?[bool;inp1;inp2]

10 2 30 4 50

### xbar - rounds down each element of a vectior on the right to the closest multiple on the left

In [18]:
show a:10?100;
5 xbar a

44 28 20 30 34 77 61 70 36 12

40 25 20 30 30 75 60 70 35 10

### ^ - Fill, fills in null values

In [19]:
0^1 2 3 0N 5 6 0N 8

1 2 3 0 5 6 0 8

### # - take / reshape

In [20]:
// takes the first 3
3#1 2 3 4 5 6

1 2 3

In [21]:
// reshapes into 2 by 3 matrix
2 3#1 2 3 4 5 6

1 2 3
4 5 6

In [22]:
// take from the end
-3#1 2 3 4 5 6

4 5 6

### _ - drop/Cut

In [23]:
/ drop first 3
3 _ til 10

3 4 5 6 7 8 9

In [24]:
// drop from the end
-3_til 10

0 1 2 3 4 5 6

In [26]:
// can cut an item from a list (only an item)
// Note the () is because it evaluates from right to left
(til 10)_3

0 1 2 4 5 6 7 8 9

In [27]:
// this will error out since its a list on the right
(til 10)_ 0 2 3

domain: domain

In [30]:
// can partition a list by index
1 4 7 _ til 10

1 2 3
4 5 6
7 8 9

### | - max / or / reverse

In [31]:
4 | til 9 // will return max between 4 and each on the right

4 4 4 4 4 5 6 7 8

In [33]:
4 5 6 | 3 9 5 // if both left and right are of the same size it'll return pairwise

4 9 6

In [43]:
// the or boolian evaluation is in essance the same as max (as and in min)
0101b|0011b

0111b

In [39]:
// When in perenthisis it can be used as reverse
show (|) 1 2 3;
(|) "Hello World"

3 2 1

"dlroW olleH"

### & - min / and

In [40]:
// min of left and each on right
4 & til 9

0 1 2 3 4 4 4 4 4

In [42]:
4 7 6 & 3 9 5

3 7 5

In [44]:
// min is in essance the same as and
0101b&0011b

0001b

### where - where an item is in a list

In [46]:
//given a bool where is it true
where 01010011b

1 3 6 7

In [49]:
// given where how many items are it'll produce the list
show where 5 3 1;
`a`b`c where 5 3 1

0 0 0 0 0 1 1 1 2

`a`a`a`a`a`b`b`b`c

In [50]:
// works well of dicts
where `a`b`c`d!0 1 2 3

`b`c`c`d`d`d

### , - simple join

In [52]:
// join 2 lists
(til 5), 6 7 8 9

0 1 2 3 4 6 7 8 9

In [53]:
// lsits of any type
(til 5),`a`b`c,"hello"

0
1
2
3
4
`a
`b
`c
"h"
"e"
"l"
"l"
"o"

### 0N! - print consol

In [54]:
0N! "Hello World"

"Hello World"

"Hello World"

In [56]:
// useful for debugging
1 + 0N!1 +0N!1+0N!1

1
2
3

4

### ; - seperator

In [59]:
// seperate list into nested
(1 2 ; 3 4)

1 2
3 4

### @ - apply/Index

In [61]:
// equvalant in monadic functions
max 1 2 3 = max@1 2 3

1b

In [62]:
// Takes from nested list at the first depth
x:(1 2 3;4 5 6;7 8 9);
x@ 1 2

4 5 6
7 8 9

### () - precidence / list

In [63]:
// gives precidence in order of operation
show 1+2*3+4;
(1+2)*(3+4)

15

21

In [66]:
//can enlist items
show 1 2; 3 4;
show "----";
show (1 2; 3 4);

1 2
"----"
1 2
3 4

### raze - flatten or raze a list

In [69]:
show a:(((1;2);3);4 5);
show raze a;
show raze raze a;

1 2 3
4   5
1 2
3
4
5
1 2 3 4 5

### [ ] - block, can group together multiple expressions
    - useful inside conditional expressions

In [72]:
name1:`Mo
name2:`Mark
{$[x ~ `Mo;[.var.counter+:1;show "true"];show `false]} each (name1; name2)

"true"
`false

::
::

### : - assigne/ammend
 - sets values to variables or updates it

In [74]:
//assigne
variable:1;
show variable;
//ammend
variable+:1;
show variable

1
2

### Difference between string and symbol
Under the surface q maintains a pool of strings to use as symbols and every usage of a symbol points to the value in this table. Whenever you need a use of a symbol repeatedly symbols are the right choice. Advantage of symbols is that comparisons are much faster, since the entire string is evaluated as a whole. If we have unique and complicated string we should stick to strings as to not blow up the memory

### Enumerations

underlying maps a discrete set to a list, where the values in the list are index of the distinct list its enumerated against. This then places the discrete enumerated list in memory and the index as the values and thereby increasing speed